body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff0000;
    padding: 15px;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #ff0000;
    padding: 10px;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}